body {
    background:#333333;
    margin:0px;
    padding:0px;
  }
  
  .robot {
    height:15px;
    width:15px;
    border-radius:50%;
    position:absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    outline: 1px solid #fff
  }
  
  
  #bleu   {background-color:blue  }
  #yellow {background-color:yellow}
  #red    {background-color:red   }
  #green  {background-color:green }
  #white  {background-color:white }
  #orange {background-color:orange}
  #brown {background-color:brown}